<%- include header %>
<div class="row-fluid">
	<div class="span3">
		<ul class="nav nav-list">
			<li class="nav-header">
			</li>
			<% classificationList.forEach(function (classification, index) { %>
			<li <% if(curClassification == index) { %> class="active" <% } %> >
				<a href="/p/<%= curProductor %>/<%= index %>/"><%= classification %></a>
			</li>
			<% }) %>
		</ul>
	</div>
	<div class="span9">
		<div class="page-header">
			<p>
				<span><a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a></span>
				<span><a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a></span>
			</p>
			<h1>
				<small><%= post.title %></small>
			</h1>
			<% if (user && user.name == post.name) { %>
			<% } %>
			<p class="info">
				作者：<a href="/p/<%= post.productor %>/<%= post.classification %>/<%= post.name %>"><%= post.name %></a> | 
				日期：<%= post.time.minute %>
			</p>
		</div>

		<% if(post.videoName.length > 0) { %>
		<div class="media">
			<a href="#" class="pull-left"></a>
			<div class="media-body">
				<h4 class="media-heading">
				</h4>
				<video id="vplayer" src="/resources/<%= post.videoName %>"  controls autoplay loop>
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
		<% } %>
		<dl>
			<%- post.post %>
		</dl>
		<%- include comment %>
	</div>

</div>
</div>
<%- include footer %>