<%- include header %>
	<div class="span3">
		<ul class="nav nav-list  j-nav-side">
			<li class="nav-header ">
			</li>
			<% classificationList.forEach(function (classification, index) { %>
			<li <% if(curClassification == index) { %> class="active" <% } %> >
				<a href="/p?productor=<%= curProductor %>&classification=<%= index %>"><%= classification %></a>
			</li>
			<% }) %>
		</ul>
	</div>
	<div class="span9 ">
		<div class="page-header">
			<h2>
				<%= post.title %>
			</h2>
			<p class="info j-href-color-gray">
				作者：<a href="/p?name=<%= post.name %>"><%= post.name %></a> | 
				日期：<%= post.time.minute %>
                <% if (user && user.name == post.name) { %>
                | <span><a class="edit" href="/edit/<%= post._id %>">编辑</a></span>
                <!--| <span><a class="edit" href="/remove/<%= post._id %>">删除</a></span>-->

                <% if (post.sticky_time) { %>
                    | <span><a class="edit" href="/sticky/<%= post._id %>?s=no">取消置顶</a></span>
                <% } else { %>
                    | <span><a class="edit" href="/sticky/<%= post._id %>?s=yes">置顶</a></span>
                <% } %>
            <% } %>
			</p>
		</div>

		<% if(post.videoName.length > 0) { %>
		<div class="media">
			<a href="#" class="pull-left"></a>
			<div class="media-body">
				<h4 class="media-heading">
				</h4>
				<video id="vplayer" class="j-media" src="/resources/<%= post.videoName %>"  controls autoplay loop>
					Your browser does not support the video tag.
				</video>
			</div>
		</div>
		<% } %>
		<dl class="j-post-content">
			<%- post.post %>
		</dl>
        <div class="j-comment">
            <%- include comment %>
        </div>

	</div>


<%- include footer %>