
<% post.comments.forEach(function (comment, index) { %>
<div class="j-comment-content">
  <p class=""><a href="<%= comment.website %>"><%= comment.name %></a>
  <span class="info"> 回复于 <%= comment.time %></span></p>
  <p><%- comment.content %></p>
    </div>
<% }) %>

<form method="post" class="form-horizontal j-comment-form">

    <% if (user) { %>
    <div class="control-group">
        <label class="control-label" for="name">姓名：</label>
        <div class="controls">
            <input id="name"class="input-xlarge"  name="name" type="text" value="<%= user.name %>"  />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="email">邮箱：</label>
        <div class="controls">
            <input id="email" class="input-xlarge"  name="email" type="text" value="<%= user.email %>"  />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="website">网址：</label>
        <div class="controls">
            <input id="website" class="input-xlarge"  name="website" type="text" value="/p?name=<%= user.name %>"  />
        </div>
    </div>
    <% } else { %>
    <div class="control-group">
        <label class="control-label" for="name">姓名：</label>
        <div class="controls">
            <input class="input-xlarge" id="name" name="name" type="text"   />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="email">邮箱：</label>
        <div class="controls">
            <input id="email" class="input-xlarge" name="email" type="text"   />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="website">网址：</label>
        <div class="controls">
            <input id="website" class="input-xlarge" name="website" type="text" value="http://"  />
        </div>
    </div>
    <% } %>
    <div class="control-group">
        <div class="controls">
            <textarea id="content"  class="input-xlarge" name="content" rows="5" cols="80"></textarea>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">留言</button>
        </div>
    </div>

</form>