<%- include header %>
	<div class="span3 ">
        <% if (curProductor) { %>
		<ul class="nav nav-list j-nav-side">

			<% classificationList.forEach(function (classification, index) { %>
			<li <% if(curClassification == index) { %> class="active" <% } %> >
				 <a href="/p?productor=<%= curProductor %>&classification=<%= index %>"><i class="icon-chevron-right"></i> <%= classification %></a>
			</li>
			<% }) %>
		</ul>
        <% } %>
	</div>
	<div class="span9 ">

        <% if (posts.length == 0) { %>
        <div class="text-center">
            <img src="/img/noResult.jpg" />
            <p class="text-error">为什么不给我结果！</p>
        </div>

        <% } %>

		<% posts.forEach(function (post, index) { %>
		<!--<blockquote>-->
        <div class="j-search-result">
			<p>
                <i class="icon-briefcase"></i>  <a href="/a/<%= post._id %>" target="_blank"><%= post.title %></a>
			</p> 
			<small class='j-href-color-gray'>
                作者：<a href="/p?name=<%= post.name %>"><%= post.name %></a> |
				日期：<%= post.time.minute %>
                <% if (user && user.name == post.name) { %>
                | <span><a class="edit" href="/edit/<%= post._id %>" target="_blank">编辑</a></span>
                | <span><a class="edit" href="/remove/<%= post._id %>">删除</a></span>

                <% if (post.sticky_time) { %>
                | <span><a class="edit" href="/sticky/<%= post._id %>?s=no">取消置顶</a></span>
                <% } else { %>
                | <span><a class="edit" href="/sticky/<%= post._id %>?s=yes">置顶</a></span>
                <% } %>

                <% } %>
            </small>
		<!--</blockquote>-->
		</div>
            <% }) %>


		<div class="pagination pagination-right">
			<ul>
                <% if(!isFirstPage) { %>
				<li>
					<a id="page_go_b" href="">上一页</a>
				</li>
                <% } %>
                <% if(!isLastPage) { %>
				<li>
					<a id="page_go_a" href="">下一页</a>
				</li>
                <% } %>
			</ul>
		</div>
        <script type="text/javascript">
            var page = <%= page %> ;
            var href = window.location.href;

            if (href.indexOf("?") >= 0) {
                var p = href.split("?")[1].split("&");
                var params =[];
                for (var i = 0,j=0; i < p.length; i++) {
                    var pair = p[i].split("=");
                    if (pair[0] != "p") {
                        params[j++] = pair.join('=');
                    }
                }
                href = href.split("?")[0] + "?" + params.join("&") + (params.length > 0 ? '&p=' : 'p=');
            }
            else href = href + "?p=";

            <% if(!isFirstPage) { %>
            var url = href + (page - 1)
            $('#page_go_b').attr('href', url);
            <% } %>
            <% if(!isLastPage) { %>
            var url = href + (page + 1)
            $('#page_go_a').attr('href', url);
            <% } %>

        </script>
	</div>

<%- include footer %>