<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <!--<link href="/css/layoutit.css" rel="stylesheet">-->
        <script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/fuc.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#"><%= title %></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            视频列表
                        </li>
						<% posts.forEach(function (post, index) { %>
						<li >
                            <a href="javascript:showPlayer(this, '<%= post.title %>','<%= post.videoName %>');"><%= post.title %></a>
                        </li >
						<% }) %>
                        <li >
                            <a href="javascript:showPlayer(this, '冰与火之歌','1.mp4');">冰与火之歌</a>
                        </li >
                        <li class="active">
                            <a href="javascript:showPlayer(this, '黑吃黑','2.mp4');">黑吃黑</a>
                        </li>
                        <li>
                            <a href="javascript:showPlayer(this, '非常突然','3.mp4');">非常突然</a>
                        </li>
						<li class="nav-header">
                            功能列表
                        </li>
						<% if (user) { %>
                        <li>
                            <a href="/post">新增</a>
                        </li>
						<li>
                            <a href="#">设置</a>
                        </li>
						<li>
                            <a href="/logout">退出</a>
                        </li>
						<% } else { %>
						<li>
                            <a href="/login">登陆</a>
                        </li>
						<% } %>
						
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">帮助</a>
                        </li>
                    </ul>
                </div>
		<article>
			<% if (success) { %>
			<div><%= success %></div>
			<% } %>
			<% if (error) { %>
			<div><%= error %> </div>
			<% } %>